Django==5.1.2
asgiref==3.7.2

sqlparse==0.4.4
gunicorn==21.0.1            # For production WSGI server
whitenoise==6.5.0           # For serving static files
psycopg2-binary==2.9.8      # For PostgreSQL if needed
